<footer class="ud-footer wow fadeInUp" data-wow-delay=".15s">
  <div class="shape shape-1">
    <img src="{{siteUrl}}assets/images/footer/shape-1.svg" alt="shape" style="filter: invert(0.5) sepia(1) saturate(5) hue-rotate(0deg) brightness(1.2) contrast(1.2) drop-shadow(0 0 10px #b51318);" />
  </div>
  <div class="shape shape-2">
    <img src="{{siteUrl}}assets/images/footer/shape-2.svg" alt="shape" style="filter: invert(0.5) sepia(1) saturate(5) hue-rotate(0deg) brightness(1.2) contrast(1.2) drop-shadow(0 0 10px #b51318);"/>
  </div>
  <div class="shape shape-3">
    <img src="{{siteUrl}}assets/images/footer/shape-3.svg" alt="shape" style="filter: invert(0.5) sepia(1) saturate(5) hue-rotate(0deg) brightness(1.2) contrast(1.2) drop-shadow(0 0 10px #b51318);"/>
  </div>
  <div class="ud-footer-widgets">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-12">
          <div class="ud-widget">
            <a href="index.html" class="ud-footer-logo">
              <img src="{{ siteUrl }}assets/images/coder-logo-putih.png" alt="logo" />
            </a>
            <ul class="ud-widget-socials mt-3">
              <li>
                <a href="{{ siteInfo.instagram }}" target="_blank">
                  <i class="lni lni-instagram-filled"></i>
                </a>
              </li>
              <li>
                <a href="{{ siteInfo.youtube }}" target="_blank">
                  <i class="lni lni-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-12">
          <div class="ud-widget">
            <h5 class="ud-widget-title">Address</h5>
            <p class="ud-widget-desc">
              {{ siteInfo.address }}
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="ud-widget">
            <h5 class="ud-widget-title">Useful Links</h5>
            <ul class="ud-widget-links">
              <li>
                <a href="https://www.telkom.co.id/" target="_blank">Telkom Indonesia</a>
              </li>
              <li>
                <a href="https://ypt.or.id/" target="_blank">Yayasan Pendidikan Telkom</a>
              </li>
              <li>
                <a href="https://ittelkom-sby.ac.id/" target="_blank">IT Telkom Surabaya</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="ud-widget">
            <h5 class="ud-widget-title">Get in Touch</h5>
            <ul class="ud-widget-links">
              <li>
                <a href="mailto:{{ siteInfo.email }}">{{ siteInfo.email }}</a>
              </li>
              <li>
                <a href="#">+ 62 838 7753 4525</a>
              </li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="ud-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <ul class="ud-footer-bottom-left">
            <li>
              <a href="javascript:void(0)">Privacy policy</a>
            </li>
            <li>
              <a href="javascript:void(0)">Support policy</a>
            </li>
            <li>
              <a href="javascript:void(0)">Terms of service</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <p class="ud-footer-bottom-right">
            Copyright © {{ "now"|date("Y")}} CODER ITTelkom Surabaya. | Build with ❤️ by CODER team.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>