{% extends "_layouts/base.twig" %}

{% block content %}
{% set divisionList = craft.entries()
  .section('division')
  .with([
    'divisionMember'
  ])
  .orderBy('dateCreated ASC')
  .all() 
%}

{% set newsList = craft.entries()
  .section('news')
  .orderBy('dateCreated ASC')
  .with([
    'featuredImage'
  ])
  .limit(3)
%}

<section class="ud-hero pb-7" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="ud-hero-content" data-wow-delay=".2s">
          <h1 class="ud-hero-title wow fadeInUp" data-wow-delay=".2s">
            {{ siteInfo.heading }}
          </h1>
          <p class="ud-hero-desc wow fadeInUp" data-wow-delay=".4s" >
            {{ siteInfo.summary|raw|striptags }}
          </p>
        </div>
        
      </div>
    </div>
  </div>
</section>

<section id="about" class="ud-about bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="ud-about-image wow fadeInLeft" data-wow-delay=".2s">
          <img class="lazy" data-src="{{ siteUrl }}assets/images/about.png" alt="about-image" />
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="ud-about-content mw-100">
          <h2 class="mb-5 wow fadeInRight" data-wow-delay=".2s">
            <span>About</span>
            <span class="text-primary-coder">Us</span>
          </h2>
          {% for key, item in siteInfo.tableOfContent %}
            <div class="d-flex mb-3 wow fadeInRight" data-wow-delay=".{{ key + 1 }}s">
              <div class="bg-danger align-self-start py-2 px-2 me-3 rounded-3">
                <iconify-icon class="text-white icons-1" icon="{{ item.iconsClass }}"></iconify-icon>
              </div>
              <div>
                <h3 class="mb-3">{{ item.subtitle }}</h3>
                <div>
                  {{ item.body|raw|retcon([
                    ['attr', 'ol', { class: 'list-group-numbered' }],
                    ['attr', 'li', { class: 'mb-2' }],
                ]) }}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      
    </div>
  </div>
</section>

<section id="division" class="ud-features bg-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="division-section text-center wow fadeInUp" data-wow-delay=".2s">
          <span class="text-primary-coder fw-bold" style="font-size: 23px;">Divison</span>
          <h2>Our Awesome Division</h2>
        </div>
      </div>
    </div>
    {% if divisionList|length %}
      <div class="row">
        {% for key, item in divisionList %}
        <div class="col-lg-4 col-sm-6">
          <div class="ud-single-feature cursor-pointer p-5 wow fadeInUp" data-wow-delay=".{{ key + 1 }}s">
            <div class="ud-feature-icon mx-auto">
              <iconify-icon icon="{{ item.divisionLogoClass }}" style="font-size: 41px;"></iconify-icon>
            </div>
            <div class="ud-feature-content text-center">
              <h3 class="ud-feature-title">{{ item.title }}</h3>
              <div class="ud-feature-desc">
                {{ item.summary|raw }}
              </div>
              <a href="{{ item.url }}" class="btn btn-outline-coder rounded">
                Lihat Selengkapnya
              </a>
            </div>
          </div>
        </div> 
        {% endfor %}
      </div>
    {% else %}
      <h2 class="my-5">Belum ada Divisi</h2>
    {% endif %}
  </div>
</section>

<section id="gallery" class="ud-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="division-section text-center mb-0 wow fadeInUp" data-wow-delay=".2s">
          <h2>Gallery</h2>
        </div>
      </div>
    </div>
    <div class="swiper wow fadeInUp" data-wow-delay=".4s">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for item in siteInfo.gallery %}
          <div class="swiper-slide">
            <a href="{{item.url}}" class="glightbox">
              <img class="lazy" data-src="{{item.url}}" alt="">
            </a>
            
          </div>
        {% endfor %}

      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    
    </div>
    <div class="ud-brands mt-5 wow fadeInUp" data-wow-delay=".2s">
      <div class="text-center mb-3">
        <h2>Our Partner</h2>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3">
          <img class="d-block mx-auto lazy" data-src="{{ siteUrl }}assets/images/logo-playbox-1.png" alt="Playbox" />
        </div>
        <div class="col-6 col-lg-3">
          <img class="d-block mx-auto lazy" data-src="{{ siteUrl }}assets/images/logo-dojo.png" alt="Dojo Coder" />
        </div>
        <div class="col-6 col-lg-3">
          <img class="d-block mx-auto lazy" data-src="{{ siteUrl }}assets/images/logo-waow-1.png" alt="WAOW" />
        </div>
        <div class="col-6 col-lg-3">
          <img class="d-block mx-auto lazy" data-src="{{ siteUrl }}assets/images/logo-wezaa.png" alt="wEZZA" />
        </div>
        
      </div>
    </div>
  </div>
</section>

<section id="news" class="ud-features">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="division-section text-center wow fadeInUp" data-wow-delay=".2s">
          <h2>Lastest New</h2>
        </div>
      </div>
    </div>
    {% if newsList|length %}
      <div class="row">
        {% for key, item in newsList %}
          {% include "_includes/blog_item.twig" with { data : {
            key: key,
            item: item
          }} only %}
        {% endfor %}
      </div>
    {% else %}
      <h2 class="my-5">Belum ada Berita</h2>
    {% endif %}
    
  </div>
</section>

{% endblock %}